body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.ellipsis {

    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mainContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1000px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.headerContainer .check {
    display: flex;
    align-items: center;
}

.checkBoxClass {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContainer button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.headerContainer button:hover {
    background-color: #c0392b;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
}

.product {
    /* height: 330px;
    width: 260px; */
    display: inline-grid;
    align-items: center;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.actions-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.description p {
    margin: 10px;
}

.product:last-child {
    border-bottom: none;
}

.product img {
    width: 100px;
    height: 120px;
    border-radius: 10px;
}

input[type="checkbox"] {
    /* Increase width and height */
    width: 20px;
    height: 20px;
}


.description {
    flex: 1;
}

.description p {
    margin: 5px 0;
}

.description p:first-child {
    font-weight: bold;
    color: #333;
}

.description p:nth-child(2) {
    color: #555;
}

.description p:nth-child(3) {
    color: #e67e22;
    font-weight: bold;
}

.description p:nth-child(4) {
    color: #2ecc71;
}